

.heroesTitle {
   text-align: center;
}
.heroesContainer {
    display: grid;
    grid-template-columns: 650px 650px;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 600px;
    text-align: center;
}
img {
    width: 400px;
    border: 1px black solid;
}
a {
    text-decoration: none;
    color: dimgrey;
}
a:hover {
    color: red;
}

a:focus {
    color: black;
}
